#colors-container .module {
  width: 100%;
}

#colors-container .shoeType {
  float: left;
  color: rgb(17, 17, 17);
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#colors-container .price {
  float: right;
  color: rgb(17, 17, 17);
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#colors-container .shoe_name {
  width: 100%;
  float: left;
  color: rgb(17, 17, 17);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.182px;
  margin: 3px 0px 48px 0px;
}

#colors-container .color_row {
  width: 100%;
}

#colors-container .shoe_color_option {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0px 4px 0px 0px;
}

#colors-container img {
  width: 100%;
  padding: 0;
}

#colors-container img:hover {
  cursor: pointer;
}

#colors-container .curShoe {
  background: black;
  z-index: 2;
}

#colors-container .curShoe_img {
  opacity: 0.9;
}